@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
	font-family: 'Raleway', sans-serif;
}


/*! fixed-elements */


.container {
	width: 100%;
}

.divider {
	width: 170px;
}

.divider_red {
	border: 0.5px solid #EC7979;
	background-color: #EC7979;
}

.divider_white {
	border: 0.5px solid #FFFFFF;
	background-color: #FFFFFF;
}


/** .sidebar */


.sidebar {
	display: none;
}

.sidebar.sidebar_checked {
	position: fixed;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #000000;
	max-width: 320px;
	padding-bottom: 24px;
	transition: all ease-in-out 0.5s;
	animation: myAnim 0.5s cubic-bezier(0.5, 0, 0.75, 0) 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.sidebar__nav-item {
	padding: 24px 0;
	width: 320px;
}

.sidebar__nav-item a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
	transition: all ease-in-out 0.5s;
}

.sidebar__nav-item a:hover {
	color: #EC7979;
}


/** .axure-template */


.axure-template {
	padding-bottom: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.axure-template__logo {
	width: 100%;
}

.axure-template__title {
	padding: 51px 0 56px;
	width: 100%;
}

.axure-template__title h1 {
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.axure-template__description {
	padding: 42px 0;
	max-width: 270px;
}

.axure-template__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.axure-template__button {
	width: 100%;
	display: flex;
}

.axure-template__button button {
	width: 270px;
	min-height: 58px;
	border: 2px solid #FFFFFF;
	background: none;
	cursor: pointer;
	transition: all ease-in-out 0.2s;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.axure-template__button button:hover {
	color: #EC7979;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.axure-template__button button:active {
	border: 2px solid #EC7979;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #EC7979;
}


/** .tab */

.tab {
	max-width: 200px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tab__radio {
	position: absolute;
	opacity: 0;
}

.tab__title {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #333333;
	cursor: pointer;
}

#tab__content_1:checked~.tab__title_1,
#tab__content_2:checked~.tab__title_2,
#tab__content_3:checked~.tab__title_3 {
	border: 1px solid #C6CBCD;
	border-bottom: 2px solid #FFFFFF;
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
}


/** .content */


.content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border: 1px solid #C6CBCD;
}

.content__image {
	max-width: 470px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.content__image img {
	width: 100%;
}


/** info */


.info {
	padding-left: 100px;
	max-width: 700px;
	display: flex;
	flex-direction: column;
}

.info__title {
	padding: 41px 0;
	width: 100%;
}

.info__title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 42px;
}

.info__description {
	padding: 27px 0;
	width: 100%;
}

.info__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	white-space: pre-line;
}

.info__download {
	width: 100%;
	padding-bottom: 42px;
	display: flex;
	justify-content: center;
}

.info__download button {
	max-width: 270px;
	width: 100%;
	height: 58px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	background: #EC7979;
	border: none;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.info__download button:active {
	-webkit-box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
	-moz-box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
	box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
}


/** .card */


.card {
	max-width: 400px;
	padding: 0 15px;
	flex-grow: 1;
}

.card__image {
	width: 100%;
	padding: 39px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__image-wrapper {
	width: 92px;
	height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #EC7979;
	border-radius: 100%;
}

.card__title {
	width: 100%;
	padding: 33px 0;
}

.card__title h4 {
	font-family: 'Open Sans', sans-serif;
	line-height: 34px;
	font-weight: 700;
	font-size: 24px;
}

.card__description {
	width: 100%;
	padding: 8px 0;
}

.card__description h5 {
	line-height: 22px;
	font-weight: 400;
	font-size: 18px;
	white-space: pre-line;
}

.card__review {
	padding: 38px 20px;
	width: 100%;
	text-align: center;
	background-color: #E2E2E2;
	border-radius: 10px;
	position: relative;
}

.card__review::after {
	content: ''; 
	position: absolute;
	left: 18%;
	bottom: -35px;
	border: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
}

.card__review h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	white-space: pre-line;
}

.card__reviewer {
	width: 100%;
	max-height: 202px;
	display: flex;
}

.card__reviewer-avatar {
	padding-top: 66px;
	min-width: 70px;
}

.card__reviewer-info {
	padding: 66px 0 31px 30px;
	max-width: 300px;
	flex-grow: 1;
}

.card__reviewer-name {
	padding: 10px 0;
	width: 100%;
}

.card__reviewer-name h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: capitalize;
}

.card__reviewer-profession {
	padding: 15px 0;
	width: 100%;
}

.card__reviewer-profession h5{
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}


/** .tariff */


.tariff {
	margin: 0 15px;
	max-width: 370px;
	width: 100%;
	padding: 40px 0px;
	transition: all ease-in-out 0.5s;
}

.tariff__options-wrapper {
	width: 100%;
	border: 2px solid #F5F5F5;
	transition: all ease-in-out 0.5s;
}

.tariff__title {
	width: 100%;
	padding: 13px 0;
	border: 2px solid #F5F5F5;
	background-color: #333333;
}

.tariff__title h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
}

.tariff__price {
	width: 100%;
	padding: 29px 0;
	background-color: #333333;
	border: 2px solid #F5F5F5;
}

.tariff__price h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}

.tariff__description {
	width: 100%;
	padding: 14px 0;
	background-color: #333333;
	border: 2px solid #F5F5F5;
}

.tariff__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.5);
}

.tariff__advantages {
	width: 100%;
	background-color: #FFFFFF;
}

.tariff__advantages li {
	padding: 14px 0;
	border: 2px solid #F5F5F5;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #86878B;
}


/** .slider */


.slider {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider__wrapper {
	width: 100%;
}

.slider__control {
	display: none;
}


/** .form */


.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.form__elements {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 255px;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.form__elements_short {
	padding-top: 12px;
	max-width: 370px;
}

.form__title {
	padding: 28px 0;
	width: 100%;
}

.form__title h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	white-space: nowrap;
}

.form__title span {
	color: #EC7979;
}


/** .partners-logo */


.partners-logo {
	position: relative;
}

.partners-logo_big {
	padding: 18px 15px;
}

.partners-logo_big img{
	outline: 8px solid #f8efef;
	border-radius: 20%;
	max-width: 75px;
	max-height: 75px;
}

.partners-logo_big img:hover {
	filter: brightness(0);
	outline: 8px solid #f8efef;
	border-radius: 20%;
	transition: all ease-in-out 0.5s;
}

.partners-logo_big img:active {
	filter: brightness(0) invert(50%);
	outline: 8px solid #f8efef;
	border-radius: 20%;
	transition: all ease-in-out 0.5s;
}

.partners-logo_big a::after {
	margin: 0 auto;
	content: attr(aria-label);
	position: absolute;
	top: -9px;
	left: 8px;
	font-weight: 600;
	font-size: 12px;
	text-transform: capitalize;
	color: #000000;
	opacity: 0;
}

.partners-logo_big a:hover::after {
	opacity: 1;
}

.partners-logo_small {
	padding: 0 19px;
}

.partners-logo_small img{
	outline: 6px solid #000000;
	border-radius: 20%;
}

.partners-logo_small img:hover {
	filter: brightness(0) invert(100%);
	outline: 6px solid #000000;
	border-radius: 20%;
	transition: all ease-in-out 0.5s;
}

.partners-logo_small img:active {
	filter: brightness(0) invert(50%);
	outline: 6px solid #000000;
	border-radius: 20%;
	transition: all ease-in-out 0.5s;
}

.partners-logo_small a::after {
	margin: 0 auto;
	content: attr(aria-label);
	position: absolute;
	top: -25px;
	left: 16px;
	font-weight: 600;
	font-size: 11px;
	text-transform: capitalize;
	color: #ffffff;
	opacity: 0;
}

.partners-logo_small a:hover::after {
	opacity: 1;
}


@media screen and (max-width:1024px) {
	.divider {
		width: 142px;
	}
	.divider_short-white {
		width: 116px;
	}


	.axure-template__logo {
		max-width: 183px;
		max-height: 75px;
	}
	.axure-template__title {
		padding: 38px 0 42px;
	}
	.axure-template__title h1 {
		font-size: 36px;
		line-height: 42px;
	}
	.axure-template__description {
		padding: 30px 0;
	}
	.axure-template__description h5 {
		font-size: 14px;
		line-height: 16px;
	}
	.axure-template__button button {
		max-height: 50px;
		width: 183px;
	}


	.form__elements_short {
		max-width: 298px;
	}
	.form__title {
		padding: 32px 0;
		width: 100%;
	}
	.form__title h4 {
		font-size: 18px;
		line-height: 26px;
	}


	.partners-logo_big {
		padding: 25px 10px 16px;
	}
	.partners-logo_big img {
		max-width: 64px;
		max-height: 64px;
	}
	.partners-logo_big a::after {
		top: 1px;
		left: 2px;
	}


	.tab {
		max-width: 172px;
	}


	.content__image img {
		width: 398px;
		height: 385px;
	}


	.info {
		padding-left: 85px;
		max-width: 594px;
	}
	.info__title {
		padding: 28px 0;
		width: 100%;
	}
	.info__title h3 {
		font-size: 24px;
		line-height: 33px;
	}
	.info__description {
		padding: 38px 0;
	}
	.info__description h5 {
		font-size: 14px;
		line-height: 16px;
	}
	.info__download {
		padding-bottom: 50px;
	}
	.info__download button {
		max-width: 232px;
	}


	.card {
		max-width: 338px;
		padding: 0 10px;
		flex-grow: 1;
	}
	.card__image {
		width: 100%;
		padding: 34px 0;
	}
	.card__image-wrapper {
		width: 80px;
		height: 80px;
	}
	.card__title {
		width: 100%;
		padding: 28px 0;
	}
	.card__title h4 {
		font-size: 18px;
		line-height: 26px;
	}
	.card__description {
		width: 100%;
		padding: 9px 0;
	}
	.card__description h5 {
		font-size: 14px;
		line-height: 16px;
	}


	.tariff {
		margin: 0 10px;
		max-width: 317px;
		padding: 18px 0px;
	}
	.tariff__title {
		padding: 10px 0;
	}
	.tariff__price {
		padding: 23px 0;
	}
	.tariff__description {
		padding: 11px 0;
	}
	.tariff__advantages li {
		padding: 11px 0;
	}


	.card__review {
		padding: 50px 20px;
	}
	.card__review::after {
		bottom: -33px;
		border: 13px solid transparent;
		border-top: 20px solid #E2E2E2;
	}
	.card__review h5 {
		font-size: 14px;
		line-height: 16px;
	}
	.card__reviewer {
		max-height: 186px;
	}
	.card__reviewer-avatar {
		padding: 66px 0 57px;
		min-width: 63px;
	}
	.card__reviewer-avatar img{
		width: 63px;
		height: 63px;
	}
	.card__reviewer-info {
		padding: 66px 0 50px 22px;
		max-width: 255px;
	}
	.card__reviewer-name {
		padding: 5px 0;
	}
	.card__reviewer-name h4 {
		font-size: 18px;
		line-height: 26px;
	}
	.card__reviewer-profession {
		padding: 9px 0;
	}
	.card__reviewer-profession h5{
		font-size: 14px;
		line-height: 16px;
	}


	.partners-logo_small {
		padding: 0 17px 8px;
	}
	.partners-logo_small img{
		width: 45px;
		height: 45px;
	}
	.partners-logo_small a::after {
		left: 11px;
	}
}


@media screen and (max-width: 768px){
	.divider {
		width: 134px;
	}
	.divider_short-white {
		width: 134px;
	}


	.axure-template {
		padding-bottom: 56px;
		align-items: center;
		text-align: center;
	}
	.axure-template__logo {
		display: none;
	}
	.axure-template__title {
		padding: 44px 0;
	}
	.axure-template__description {
		padding: 42px 0;
	}
	.axure-template__button {
		justify-content: center;
		max-width: 288px;
	}
	.axure-template__button button {
		width: 100%;
	}


	.form__elements_short {
		max-width: 240px;
		padding-top: 0;
	}
	.form__title {
		padding: 35px 0 2px;
	}
	.form__title h4 {
		font-size: 14px;
		line-height: 20px;
	}


	.partners-logo_big {
		padding: 19px 8px 0;
	}
	.partners-logo_big img {
		max-width: 26px;
		max-height: 26px;
		outline: 5px solid #f8efef;
	}
	.partners-logo_big a::after {
		top: 0;
		left: 4px;
		font-size: 9px;
	}
	.partners-logo_big img:hover {
		outline: 5px solid #f8efef;
	}
	.partners-logo_big img:active {
		outline: 5px solid #f8efef;
	}


	.tab {
		max-width: 96px;
	}
	.content {
		padding: 0 21px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		max-width: 288px;
	}
	.content__image {
		display: none;
	}
	.info {
		padding-left: 0;
		max-width: 288px;
	}
	.info__title {
		padding: 31px 0;
	}
	.info__title h3 {
		font-size: 18px;
		line-height: 25px;
	}
	.info__description {
		padding: 29px 0;
	}
	.info__description h5 {
		font-size: 13px;
		line-height: 15px;
	}
	.info__download {
		padding-bottom: 30px;
	}
	.info__download button {
		max-width: 243px;
	}


	.card {
		max-width: 308px;
	}


	.tariff {
		max-width: 288px;
		padding: 0 0 27px;
	}
	.tariff__title {
		padding: 11px 0;
	}
	.tariff__title h4{
		font-size: 18px;
		line-height: 25px;
	}
	.tariff__price {
		padding: 25px 0;
	}
	.tariff__price h3{
		font-size: 24px;
		line-height: 28px;
	}
	.tariff__description {
		padding: 11px 0;
	}
	.tariff__description h5{
		font-size: 14px;
		line-height: 17px;
	}
	.tariff__advantages li {
		padding: 11px 0;
		font-size: 14px;
		line-height: 17px;
	}


	.slider__wrapper {
		width: 308px;
		overflow: hidden;
	}
	.slider__control {
		padding-bottom: 31px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.slider__control button {
		margin: 0 25px;
		padding: 0;
		width: 10px;
		height: 10px;
		background: none;
		border: 1px solid #86878B;
		border-radius: 100%;
		transition: all ease-in-out 0.3s;
		cursor: pointer;
	}
	.slider__control button:hover {
		background-color: #86878B;
		border: none;
	}
	.slider__button.slider__button_active {
		background-color: #86878B;
	}


	.card__review {
		padding: 50px 15px;
	}
	.card__review h5 {
		font-size: 14px;
		line-height: 16px;
	}
	.card__reviewer-avatar {
		padding: 62px 0 0;
		min-width: 57px;
	}
	.card__reviewer-avatar img{
		width: 57px;
		height: 57px;
	}
	.card__reviewer-info {
		padding: 66px 0 22px 22px;
	}
	.card__reviewer-name {
		padding: 8px 0;
	}
	.card__reviewer-name h4 {
		font-size: 14px;
		line-height: 20px;
	}
	.card__reviewer-profession {
		padding: 10px 0;
	}
	.card__reviewer-profession h5{
		font-size: 13px;
		line-height: 15px;
	}


	.form {
		max-width: 486px;
	}
	.form__elements {
		max-height: 100%;
	}


	.partners-logo_small {
		padding: 0 8px;
	}
	.partners-logo_small img {
		max-width: 26px;
		max-height: 26px;
		outline: 5px solid #000000;
	}
	.partners-logo_small a::after {
		top: -20px;
		left: 3px;
		font-size: 9px;
	}
	.partners-logo_small img:hover {
		outline: 5px solid #000000;
	}
	.partners-logo_small img:active {
		outline: 5px solid #000000;
	}
}


@media screen and (min-width: 769px) {
	.sidebar.sidebar_checked {
		display: none;
	}
}


@media screen and (max-width: 280px) {
	.axure-template__title h1 {
		font-size: 24px;
		line-height: 28px;
	}
	.form__title h4 {
		white-space: pre-line;
	}
}