@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
	font-family: 'Raleway', sans-serif;
}


/*! fixed-elements */


.container {
	width: 100%;
}

.divider {
	width: 170px;
}

.divider_red {
	border: 0.5px solid #EC7979;
	background-color: #EC7979;
}

.divider_white {
	border: 0.5px solid #FFFFFF;
	background-color: #FFFFFF;
}


/** .axure-template */


.axure-template {
	padding-bottom: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.axure-template__logo {
	padding: 17px 0;
	width: 100%;
	display: flex;
}

.axure-template__logo-item {
	padding-right: 5px;
}

.axure-template__title {
	padding: 56px 0;
	width: 100%;
}

.axure-template__title h1 {
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.axure-template__description {
	padding: 42px 0;
	max-width: 270px;
}

.axure-template__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.axure-template__button {
	max-width: 270px;
}

.axure-template__button button {
	width: 100%;
	min-height: 58px;
	border: 2px solid #FFFFFF;
	background: none;
	cursor: pointer;
	transition: all ease-in-out 0.2s;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.axure-template__button button:hover {
	color: #EC7979;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.axure-template__button button:active {
	border: 2px solid #EC7979;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #EC7979;
}


/** .tab */


.tab {
	max-width: 200px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tab__radio {
	position: absolute;
	opacity: 0;
}

.tab__title {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #333333;
	cursor: pointer;
}

#tab__content_1:checked~.tab__title_1,
#tab__content_2:checked~.tab__title_2,
#tab__content_3:checked~.tab__title_3 {
	border: 1px solid #C6CBCD;
	border-bottom: 2px solid #FFFFFF;
	border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
}


/** .content */


.content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	border: 1px solid #C6CBCD;
}

.content__image {
	max-width: 470px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.content__image img {
	width: 100%;
}


/** info */


.info {
	padding: 0 30px 0 100px;
	max-width: 700px;
	display: flex;
	flex-direction: column;
}

.info__title {
	padding: 41px 0;
	width: 100%;
}

.info__title h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 42px;
}

.info__description {
	padding: 27px 0;
	width: 100%;
}

.info__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	white-space: pre-line;
}

.info__download {
	width: 100%;
	padding-bottom: 42px;
}

.info__download button {
	max-width: 270px;
	width: 100%;
	height: 58px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	background: #EC7979;
	border: none;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.info__download button:active {
	-webkit-box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
	-moz-box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
	box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
}


/** .card */


.card {
	max-width: 400px;
	padding: 0 15px;
	flex-grow: 1;
}

.card__image {
	width: 100%;
	padding: 39px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__image-wrapper {
	width: 92px;
	height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #EC7979;
	border-radius: 100%;
}

.card__title {
	width: 100%;
	padding: 33px 0;
}

.card__title h4 {
	font-family: 'Open Sans', sans-serif;
	line-height: 34px;
	font-weight: 700;
	font-size: 24px;
}

.card__description {
	width: 100%;
	padding: 8px 0;
}

.card__description h5 {
	line-height: 22px;
	font-weight: 400;
	font-size: 18px;
}

.card__review {
	padding: 38px 0;
	width: 100%;
	text-align: center;
	background-color: #E2E2E2;
	border-radius: 10px;
	position: relative;
}

.card__review::after {
	content: ''; 
	position: absolute;
	left: 18%;
	bottom: -35px;
	border: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
}

.card__review h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	white-space: pre-line;
}

.card__reviewer {
	width: 100%;
	max-height: 202px;
	display: flex;
}

.card__reviewer-avatar {
	padding-top: 66px;
	min-width: 70px;
}

.card__reviewer-info {
	padding: 66px 0 31px 30px;
	max-width: 300px;
	flex-grow: 1;
}

.card__reviewer-name {
	padding: 10px 0;
	width: 100%;
}

.card__reviewer-name h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: capitalize;
}

.card__reviewer-profession {
	padding: 15px 0;
	width: 100%;
}

.card__reviewer-profession h5{
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}


/** .tariff */


.tariff {
	margin: 0 15px;
	max-width: 400px;
	width: 100%;
	padding: 40px 0px;
	transition: all ease-in-out 0.5s;
}

.tariff__options-wrapper {
	width: 100%;
	border: 2px solid #F5F5F5;
	transition: all ease-in-out 0.5s;
}

.tariff__title {
	width: 100%;
	padding: 13px 0;
	border: 2px solid #F5F5F5;
	background-color: #333333;
}

.tariff__title h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
}

.tariff__price {
	width: 100%;
	padding: 29px 0;
	background-color: #333333;
	border: 2px solid #F5F5F5;
}

.tariff__price h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}

.tariff__description {
	width: 100%;
	padding: 14px 0;
	background-color: #333333;
	border: 2px solid #F5F5F5;
}

.tariff__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.5);
}

.tariff__advantages {
	width: 100%;
	background-color: #FFFFFF;
}

.tariff__advantages li {
	padding: 14px 0;
	border: 2px solid #F5F5F5;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #86878B;
}


/** .form */


.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.form__elements {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 255px;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.form__elements_short {
	max-width: 370px;
}

.form__title {
	padding: 28px 0;
	width: 100%;
}

.form__title h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
}

.form__title span {
	color: #EC7979;
}


.partners-logo {
	padding: 0 22px;
}

.partners-logo_big {
	padding: 0 15px;
}