.reviews__wrapper {
	margin: 0 auto;
	padding-top: 50px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviews__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.reviews__title {
	padding: 54px 15px;
	width: 100%;
}

.reviews__title h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
}

.reviews__description {
	padding: 40px 15px;
	width: 100%;
}

.reviews__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
}

.reviews__cards {
	padding: 43px 0 18px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}


@media screen and (max-width: 1024px) {
	.reviews__wrapper {
		padding: 0 6px;
	}

	.reviews__title {
		padding: 46px 10px;
	}
	.reviews__title h2 {
		font-size: 24px;
		line-height: 28px;
	}
	.reviews__description {
		padding: 32px 10px;
	}
	.reviews__description h5 {
		font-size: 14px;
		line-height: 16px;
	}

	.reviews__cards {
		padding: 0;
	}
}


@media screen and (max-width: 768px) {
	.reviews__wrapper {
		padding: 0 6px;
	}

	.reviews__title {
		padding: 32px 10px;
	}
	.reviews__description {
		padding: 24px 10px;
	}

	.reviews__cards {
		min-width: 924px;
		transition: all ease-in-out 0.5s;
		transform: translateX(-308px);
	}
	.reviews__cards.reviews__cards_left {
		transform: translateX(0);
	}
	.reviews__cards.reviews__cards_center {
		transform: translateX(-308px);
	}
	.reviews__cards.reviews__cards_right {
		transform: translateX(-616px);
	}
}