.banner-2 {
	width: 100%;
}

.banner-2__container {
	margin: 0 auto;
	max-width: 1510px;
	background-position: center;
	background-size: cover;
	background-image: url(../images/banner-2_bg.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: color;
}

.banner-2__wrapper {
	margin: 0 auto;
	padding: 50px 0 17px;
	max-width: 1170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.banner-2__title {
	padding: 54px 0;
	width: 100%;
}

.banner-2__title h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.banner-2__description {
	padding: 40px 0;
	width: 100%;
}

.banner-2__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;

}

.banner-2__download {
	width: 100%;
	padding: 33px 0;
}

.banner-2__download button {
	padding: 0;
	width: 370px;
	height: 58px;
	background: none;
	border: 2px solid #FFFFFF;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.banner-2__download button:active {
	border: 2px solid #EC7979;
}

.banner-2__download p {
	padding: 14px 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	text-transform: capitalize;
	color: #FFFFFF;
	transition: all ease-in-out 0.2s;
}

.banner-2__download p:hover {
	text-transform: capitalize;
	color: #EC7979;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.banner-2__download p:active {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #EC7979;
}