.first-banner__wrapper {
	margin: 0 auto;
	max-width: 1510px;
	background-position: center;
	background-size: cover;
	background-image: url(../images/banner-1_bg.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: color;
}

.first-banner__inner {
	margin: 0 auto;
	padding-top: 283px;
	padding-bottom: 135px;
	max-width: 1200px;
	display: flex;
}

.first-banner__axure-template {
	padding: 0 15px;
	max-width: 700px;
}

.first-banner__form-group {
	margin: 0 15px;
	max-width: 470px;
	max-height: 441px;
	flex-grow: 1;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.first-banner__form-group input {
	margin-top: 17px;
	min-height: 51px;
	outline: none;
	border: none;
	border-bottom: 1px solid #BDBDBD;
}

.first-banner__form-group ::placeholder {
	color: #BDBDBD;
}

.first-banner__form-button {
	width: 100%;
	padding-top: 75px;
	display: flex;
	justify-content: center;
}

.first-banner__form-button button {
	padding: 0;
	border: none;
	width: 100%;
	height: 60px;
	background-color: #EC7979;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.first-banner__form-button button:active {
	-webkit-box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
	-moz-box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
	box-shadow: 0px 4px 6px 1px rgba(204, 204, 204, 1);
}


@media screen and (max-width:1024px) {
	.first-banner__inner {
		padding-bottom: 82px;
	}
	.first-banner__axure-template {
		padding-left: 116px;
		padding-right: 18px;
		max-width: 588px;
	}
	.first-banner__form-group {
		max-width: 398px;
	}
}


@media screen and (max-width: 768px) {
	.first-banner__inner {
		padding: 40px 6px 50px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.first-banner__axure-template {
		padding: 44px 10px 0;
	}
	.first-banner__form-group {
		margin: 0 10px;
		max-width: 288px;
	}
	.first-banner__form-button {
		padding-top: 51px;
	}
}