/* ! section .tabs */

.tabs__wrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}


/** .tabs__list */


.tabs__list {
	padding: 100px 0 0;
	width: 100%;
}

.tabs__list-tab {
	width: 100%;
	display: flex;
	align-items: flex-end;
	text-align: center;
}


@media screen and (max-width: 1024px) {
	.tabs__wrapper {
		padding: 0 16px;
	}
	.tabs__list {
		padding-top: 50px;
	}
}


@media screen and (max-width: 768px) {
	.tabs__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.tabs__list {
		padding-top: 41px;
		max-width: 288px;
	}
}