.header {
	background-color: #000000;
	position: sticky;
	top: 0;
	z-index: 2;
}

.header__wrapper {
	margin: 0 auto;
	max-width: 1310px;
}

.header__inner {
	padding: 0 15px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header__axit-logo {
	flex-shrink: 0;
}

.header__logo-item {
	padding-right: 3px;
}

.header__nav-menu {
	max-width: 1048px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

.header__nav-item {
	padding: 28px 15px;
	max-width: 114px;
	height: 100%;
	flex-grow: 1;
}

.header__nav-item a {
	text-decoration: none;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.header__nav-item a:active {
	color: #EC7979;
}