@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
}

.review-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.review-form__title {
	width: 100%;
	padding: 10px 0;
}
.review-form__title h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #371030;
}

.review-form__review {
	width: 100%;
	padding: 15px 0;
}
.review-form__review textarea {
	width: 100%;
	min-height: 188px;
	padding: 18px 0 0 25px;
	background-color: #F9F0EE;
	border-radius: 5px;
	border: none;
	outline: none;
	resize: none;

	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #371030;
}

.review-form__reviewer-info {
	width: 100%;
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
}
.review-form__reviewer-info input {
	width: 100%;
	max-width: 387px;
	min-height: 41px;
	padding-left: 25px;
	background: #F9F0EE;
	border-radius: 5px;
	border: none;
	outline: none;

	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #371030;
}
.review-form__reviewer-info input:nth-child(2) {
	margin: 0 15px;
}
.review-form__buttons {
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.review-form__button {
	margin-right: 15px;
	width: 250px;
	height: 63px;
}
.review-form__button button {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #FFB0BA;
	box-shadow: 3px 3px 0px 3px #DE8E98;
	border-radius: 100px;
	cursor: pointer;
	transition: all ease-in-out 0.3s;

	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #9A3C48;
}
.review-form__button button:hover {
	transform: scale(1.05);
}
.review-form__button button:active {
	transform: scale(0.95);
}

.review-form__checkbox {
	margin-left: 15px;
	display: flex;
	align-items: center;
}
.review-form__hidden-checkbox {
	display: none;
}
.review-form__fake-checkbox {
	display: block;
	position: relative;
	width: 26px;
	height: 23px;
	background: #F9F0EE;
	border-radius: 5px;
	border: 3px solid #DE8E9800;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
}
.review-form__fake-checkbox:hover {
	background-color: #FFB0BA;
	transform: scale(1.05);
}
.review-form__fake-checkbox:active {
	border: 3px solid #DE8E98;
	transform: scale(0.95);
}
.review-form__fake-checkbox::before {
	content: "\e900";
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #9A3C48;
	opacity: 0;
	transition: all ease-in-out 0.2s;
}
.review-form__checkbox-text {
	margin-left: 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #000000;
	opacity: 0.5;
	cursor: pointer;
}
.review-form__hidden-checkbox:checked + label > .review-form__fake-checkbox::before{
	opacity: 1;
}
